
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminUILayout.cshtml";
}

<h1>Dinamik Raporlara buradan ulaşabilirsiniz</h1>


<a href="/Admin/Excel/DestinationExcelReport" class="alert-danger">Aktif Tur Listesi İndir (.xlxs)</a>


<a href="#" class="alert-dark" >Aktif Tur Listesini İndir (.pdf)</a>